<div>
  <%= image_tag "worldmap.jpg", :class => "banner" %>
</div>

<ul class="bxslider">
  <li><%= image_tag "test_france.jpg", :class => "banner" %></li>
  <li><%= image_tag "test_spain.jpg", :class => "banner" %></li>
  <li><%= image_tag "test_wales.jpg", :class => "banner" %></li>
</ul>

