body {
  font-family: 'Poiret One';
}

h1 {
  text-align: center;
}

.slider-img {
  width: 100%;
  height: 300px;
}

.bx-wrapper {
  border: 0px;
}

#social_media_contacts {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 300px;
}

#social_media_ul {
  list-style-type: none;
  text-align: center;
}

#social_media_ul li {
  display: inline-block;
  padding-right: .8%;
  padding-top: 12%;
}

.social_media_icon {
  border: 3px solid grey;
  border-radius: 100%;
  opacity: 0.5;
}

.social_media_icon:hover {
  opacity: 0.8;
}


/**************** BANNER STYLE ****************/
.banner {
  width: 100%;
  height: 500px;
}

#banner_map {
  top: 0;
  width: 100%;
  height: 500px;
  z-index: 1;
  position: relative;
}

#banner_cover_layer {
  top: 0;
  width: 100%;
  height: 500px;
  z-index: 3;
  opacity: 0.6;
  background-color: black;
  position: absolute;
}

#banner_cover_txt {
  color: white;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: 5;
  opacity: 1;
  position: absolute;
}

h2 {
  text-align: center;
  font-family: 'Poiret One';
  font-size: 450%;
  font-weight: 300;
  margin-top: 200px;
}
/**************** BANNER STYLE ****************/

/**************** NAVBAR STYLE ****************/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family: 'Poiret One';
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.navbar .navbar-collapse {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.navbar-default {
  border-radius: 0px;
  background-color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 0;
}
/**************** NAVBAR STYLE ****************/

/**************** SITE INFO FOOTER ****************/
#site_info {
  width: 100%;
  height: 200px;
  background-color: black;
  text-align: center;
}

.site_info_txt {
  padding-top: 6%;
  color: white;
}

.heart_icon {
  height: 15px;
  width: 15px;
}

.copyright_link {
  color: grey;
}

.copyright_link:hover {
  color: lightgrey;
  text-decoration: none;
}
/**************** SITE INFO FOOTER ****************/